<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
<link rel="stylesheet" th:href="@{/css/member.css}">



<div class="page-head">
	<div class="container">
		<div class="row">
			<div class="page-head-content">
				<h1 class="page-title">회원가입</h1>
			</div>
		</div>
	</div>
</div>

<!-- register-area -->
<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container">
        <div class="col-md-6">
            <div class="box-for overflow">
                <div class="col-md-12 col-xs-12 register-blocks">
                    <h2>새 계정 :</h2>
                    <form id="registerForm" name="insForm" action="register" enctype="multipart/form-data" method="post" onsubmit="return fnSubmit(); SUMaddress();" content>
                        <div class="form-group">
                        	<label for="rank">회원분류</label>
                        		<select id="rank" name ="rank" class="selectpicker show-tick form-control" onchange="changeRank()">
       								<option value="1">1:일반회원</option>
       								<option value="2">2:기업회원</option>
       							</select>
                        </div>
                        <div class="form-group" id="compInput">
                            
                        </div>
                        <div class="form-group">
                            <label for="username">아이디</label>
                            <div style="display: flex">
                                <input type="text" class="form-control" id="username" name="username" placeholder="아이디" maxlength="20">
                                <button type="button" class="btn btn-default" onclick="idCheck()">확인</button>
                            </div>
                            <span id="dupId">중복된 아이디 입니다.</span>
                            <span class="regexId">6-20자의 영문 소문자와 숫자만 사용가능합니다.</span>
                            <span class="successId">멋진 아이디군요!</span>
                            <span class="empty emptyID">필수 정보입니다.</span>
                            <input type="hidden" id="idCheck_YN" name="idCheck_YN" value="N" />

                        </div>
                        <div class="form-group">
                            <label for="nickname" id="nickname__label">닉네임</label>
                            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="닉네임" onblur="nicknameCheck()">
                            <span class="nicknameCK">중복된 닉네임 입니다.</span>
                            <span class="empty emptynickname">필수 정보입니다.</span>
                        </div>
                        <div class="form-group">
                            <label for="pw">비밀번호</label>
                            <input type="password" class="form-control" id="pw" name="pw" placeholder="비밀번호" onblur="regexPW()">
                            <span class= regexPW>8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.</span>
                            <span class="empty emptyPW">필수 정보입니다.</span>
                            <span class="successPW">✅</span>
                        </div>
                        <div class="form-group">
                            <label for="pw">비밀번호 확인</label>
                            <input type="password" class="form-control" id="confirmPw" name="confirmPw" placeholder="비밀번호 확인" onblur="confirmPW()">
                            <span class="samePW">비밀번호가 일치하지 않습니다.</span>
                            <span class="empty emptyPW1">필수 정보입니다.</span>
                            <span class="successPW1">✅</span>
                        </div>
                        <div class="form-group form-name">
                            <label for="name" id="label_name">이름</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="이름" onblur="emptyName()">
                            <span class="empty emptyName">필수 정보입니다.</span>
                        </div>
                        <div class="form-group">
                            <label for="birth2">생년월일</label>
                            <!-- <input type="text" class="form-control" id="birth" name="birth" onkeydown="return checkNumber(event);" placeholder="생년월일"> -->
                            <span id="birth2">
                                <select name="yy" id="yy" class="year form-control">
                                    <option value="2022" selected>2022</option>
                                </select>
                                <select name="mm" id="mm" class="month form-control"></select>
                                <select name="dd" id="dd" class="day form-control"></select>
                            </span>
                                <input type="hidden" id="birth" name="birth">
                            <span class="empty emptyBirth">필수 정보입니다.</span>
                            <span class="lengthCK">태어난 년도 4자리를 정확하게 입력하세요.</span>
                        </div>
                        <div class="form-group">
                            <label for="address">주소</label>
                            <span class="half" id="address">
                            <input type="text" id="sample4_postcode" class="form-control address_40%" placeholder="우편번호" readonly>
                            <input type="button" onclick="sample4_execDaumPostcode()" class="form-control address_40%" value="우편번호 찾기">
                            </span>
                            <input type="text" id="sample4_roadAddress" class="form-control address_40%" placeholder="도로명주소" name="roadAddress" readonly>
                            <span id="guide" style="color:#999;display:none"></span>
                            <input type="text" id="sample4_detailAddress" placeholder="상세주소" class="form-control address_40%" name="detailAddress" onchange="SUMaddress()">
                        </div>
                        <div class="form-group">
                            <label for="phoneNum">전화번호</label>
                            <!-- <input type="text" class="form-control" id="phoneNum" name="phoneNum" onkeydown="return checkNumber(event);" placeholder="전화번호"> -->
                            <input type="text" class="form-control" id="phoneNum" name="phoneNum" placeholder="전화번호" onblur="regexPhone()" maxlength="11">
                            <span class="regPhone">형식에 맞지 않는 번호입니다</span>
                            <span class="empty emptyPhone">필수 정보입니다.</span>
                        </div>
                        <div class="form-group email-form">
                            <label for="email">이메일</label>
                            <span>
                            <input type="text" class="form-control" id="email" name="email" placeholder="이메일">
                            <button type="button" class="btn btn-default" id="confirmEmailBtn">확인</button>
                            </span>
                            <b class="sendMail">해당 이메일로 인증번호 발송이 완료되었습니다. 확인부탁드립니다.</b>
                            <b class="empty emptyMail">필수 정보입니다.</b>
                            <p class="invalidEmail">메일 주소가 올바르지 않습니다. 다시 입력해 주세요</p>
                            <label for="confirmMailText">인증번호</label>
                            <span>
                                <input name="auth" type="text" id="confirmMailText" class="form-control" placeholder="인증번호" onkeyup="onKeyMailConfirm()"/>
                            </span>
                            <span>
                                <p class="notMatchAuth">인증번호가 잘못되었습니다.</p>
                                <p class="success">✅</p>
                            </span>
                        </div>
                        <div class="form-group file-form">
                            <label for="profileimg">프로필 사진</label>
                            <div id="profileimg" class="filebox bs3-primary preview-image">

                                <div class="divide">
                                <input class="upload-name" value="파일명" disabled="disabled">
                                    <label for="input_file">업로드</label>
                                    <input type="file" id="input_file" class="upload-hidden">
                                    <input type="hidden" name="fileName" id="fileName">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-default">회원가입</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .fileDrop {
        width: 100%;
        height: 200px;
        border: 2px dotted #0b58a2;
    }
    .tab-content {
        margin: auto;
        width: 80%;
    }

</style>

<script type="text/javascript" th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
<script type="text/javascript" th:src="@{/js/address.js}"></script>
<script type="text/javascript" th:src="@{/js/fileupload.js}"></script>
<script type="text/javascript" th:src="@{/js/memberUpload.js}"></script>
<!--<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js}"></script>-->


<!-- End page header -->

<script type="text/javascript" th:src="@{/js/member.js}"></script>
<link rel="stylesheet" th:href="@{/css/upload.css}">

    </th:block>
</th:block>
