<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

  <th:block th:fragment="content">

    <div class="content-area error-page" style="background-color: #FCFCFC; padding-bottom: 55px;">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
            <h2 class="error-title">403</h2>
            <p>접근이 거부되었습니다</p>
            <a href="/" class="btn btn-default">Home</a>
          </div>
        </div>
      </div>
    </div>

  </th:block>

</th:block>

</html>