<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link rel="stylesheet" th:href="@{/assets/css/infoBoard.css}">
<link rel="stylesheet" th:href="@{/assets/css/FAQ.css}">
<link rel="stylesheet" th:href="@{/assets/css/QNAForm.css}">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">


        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">1:1문의</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <div class="ArticleContentBox" style="margin-bottom: 25px;">
            <div class="container read__container">
                <div class="header">
                    <span class="header__title">
                        <span>
                            <h2>[[${dto.title}]]</h2>
                        </span>
                    </span>
                    <span class="header__date">
                        <span>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}]]</span>
                    </span>
                </div>
                <div class="content">
                    [[${dto.content}]]
                </div>

                <div th:if="${dto.status == 0}" class="content">

                </div>

                <div th:unless="${dto.status == 0}" class="content">
                    <div class="list-group replyList">

                    </div>
                </div>

            </div>

            <form action="/servicecenter/qna/remove" method="post">
                <input type="hidden" name="qnaNo" th:value="${dto.qnaNo}">
            </form>

            <div class="text-center">
                <a th:href="@{/servicecenter/qna/modify(qnaNo=${dto.qnaNo}, page=${requestDTO.page})}">
                    <button type="button" class="btn btn-primary">수정</button></a>

                <button type="button" class="btn btn-primary removeBtn">삭제</button>

                <button sec:authorize="hasAnyRole('ROLE_INDIVIDUAL', 'ROLE_COMPANY')"
                        th:onclick="|location.href='@{/servicecenter/qna/list(id=${#authentication.principal.member.id}, page=${requestDTO.page})}'|"
                        type="button" class="btn btn-primary">목록</button>
                <button sec:authorize="hasRole('ROLE_ADMIN')"
                        th:onclick="|location.href='@{/servicecenter/qna/listAll}'|"
                        type="button" class="btn btn-primary">목록</button>

                <button th:if="${dto.status != 0}"
                        type="button" class="btn btn-primary answerBtn">답변확인</button>
                <button sec:authorize="hasRole('ROLE_ADMIN')"
                        th:if="${dto.status == 0}"
                        type="button" class="btn btn-primary addReply">답변작성</button>
            </div>

            <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">1:1문의 답변</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" type="text" name="content" placeholder="답변을 입력해주세요.">
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="qnaReplyNo">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary replyRemove">삭제</button>
                            <button type="button" class="btn btn-primary replyModify">수정</button>
                            <button type="button" class="btn btn-primary replySave">저장</button>
                            <button type="button" class="btn btn-primary replyClose" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <script th:inline="javascript">

            var actionForm = $("form");

            $(".removeBtn").click(function () {
                if (!confirm("삭제하시겠습니까?")) {
                    return;
                }

                actionForm
                    .attr("action", "/servicecenter/qna/remove")
                    .attr("method", "post")
                    .submit();

            });

            $(document).ready(function () {

                var qnaNo = [[${dto.qnaNo}]];
                var page = [[${result.page}]];

                //댓글 추가될 영역
                var listGroup = $(".replyList");

                //날짜 처리 위한 함수
                function formatTime(str) {

                    var date = new Date(str);

                    return date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes();

                }

                //특정 게시글의 댓글을 처리하는 함수
                function loadJSONData() {

                    $.getJSON('/qna/replies/qna/' + qnaNo, function (arr) {

                        console.log(arr);

                        var str = "";

                        $('.answerBtn').html("답변확인");

                        $.each(arr, function (idx, reply) {

                            console.log(reply);
                            console.log("qnaReplyNo: " + reply.qnaReplyNo);

                            str += '<div class="card-body" data-qnareplyno="'+reply.qnaReplyNo+'"><b>관리자</b>';
                            str += '<h5 class="card-title">' + reply.content + '</h5>';
                            str += '<p class="card-text">' + formatTime(reply.regDate) + '</p>';
                            str += '</div>';

                        });

                        listGroup.html(str);

                    });

                }

                $(".answerBtn").click(function () {

                    loadJSONData();

                });

                var modal = $('.modal');

                $(".addReply").click(function () {

                    modal.modal('show');

                    $('input[name="content"]').val('');

                    $(".modal-footer .btn").hide();
                    $(".replySave, .replyClose").show();

                });

                $(".replySave").click(function () {

                    var reply = {
                        qnaNo: qnaNo,
                        content: $('input[name="content"]').val()
                    }

                    console.log(reply);

                    $.ajax({
                        url: '/qna/replies/',
                        method: 'post',
                        data: JSON.stringify(reply),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {

                            console.log(data);

                            alert("답변이 등록되었습니다.")
                            modal.modal('hide');
                            loadJSONData();

                            document.location.href = '/servicecenter/qna/read?qnaNo='+qnaNo+'&page='+page;

                        }
                    })

                });

                $('.replyList').on("click", ".card-body", function () {

                    var qnaReplyNo = $(this).data("qnareplyno");

                    console.log("qnaReplyNo: " + qnaReplyNo);

                    $("input[name='content']").val($(this).find('.card-body').html());
                    $("input[name='qnaReplyNo']").val(qnaReplyNo);

                    $(".modal-footer .btn").hide();
                    $(".replyRemove, .replyModify, .replyClose").show();

                    modal.modal('show');

                });

                $('.replyRemove').on("click", function () {

                    var qnaReplyNo = $("input[name='qnaReplyNo']").val();

                    console.log("qnaReplyNo: " + qnaReplyNo);

                    $.ajax({
                        url: '/qna/replies/' + qnaReplyNo,
                        method: 'delete',

                        success: function (result) {
                            console.log("result: " + result);

                            if (result === 'success') {

                                alert("답변이 삭제되었습니다.");
                                modal.modal('hide');
                                loadJSONData();

                                document.location.href = '/servicecenter/qna/read?qnaNo='+qnaNo+'&page='+page;

                            }
                        }
                    });

                });

                $('.replyModify').on("click", function () {

                    var qnaReplyNo = $("input[name='qnaReplyNo']").val();

                    var reply = {
                        qnaReplyNo: qnaReplyNo,
                        qnaNo: qnaNo,
                        content: $('input[name="content"]').val()
                    }

                    console.log(reply);

                    $.ajax({
                        url: '/qna/replies/' + qnaReplyNo,
                        method: 'put',
                        data: JSON.stringify(reply),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            console.log("result: " + result);

                            if (result === 'success') {

                                alert("답변이 수정되었습니다.");
                                modal.modal('hide');
                                loadJSONData();

                            }
                        }
                    });

                });


            });

        </script>


    </th:block>

</th:block>
</html>