<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/css/member.css}">
        <link rel="stylesheet" th:href="@{/css/upload.css}">
        <div class="register-area" style="background-color: rgb(249, 249, 249);">
            <div class="container">
                <div class="col-md-6">
                    <div class="box-for overflow">
                        <div class="col-md-12 col-xs-12 register-blocks">
                            <form role="form" action="/api/modify" type="PUT">
                                <input type="hidden" id="id" name="id" th:value="${#authentication.principal.member.id}">
                                <h2>회원정보 조회 :</h2>
                                <div class="form-group">
                                    <label for="rank">회원분류</label>
                                    <input th:if="${#authorization.expression('hasRole(''INDIVIDUAL'')')}" class="form-control rank" name="rank1" value="개인"
                                           readonly="readonly"/>
                                    <input th:if="${#authorization.expression('hasRole(''INDIVIDUAL'')')}" type="hidden" id="rank" name="rank" value="1">

                                    <input th:if="${#authorization.expression('hasRole(''COMPANY'')')}" class="form-control rank" name="rank1" value="기업"
                                           readonly="readonly"/>
                                    <input th:if="${#authorization.expression('hasRole(''COMPANY'')')}" type="hidden" id="rank" name="rank" value="2">

                                    <input th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="form-control rank" name="rank1" value="관리자"
                                           readonly="readonly"/>
                                    <input th:if="${#authorization.expression('hasRole(''ADMIN'')')}" type="hidden" id="rank" name="rank" value="3">
                                </div>
                                <div class="form-group" sec:authorize="hasRole('COMPANY')">
                                    <label for="companyNo">사업자번호</label>
                                    <input type="text" class="form-control" id="companyNo" name="companyNo"
                                           th:value="${#authentication.principal.member.companyNo}">
                                </div>
                                <div class="form-group">
                                    <label for="username">아이디</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           th:value="${#authentication.principal.member.username}" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="nickName">닉네임</label>
                                    <input type="text" class="form-control" id="nickname" name="nickname"
                                           th:value="${#authentication.principal.member.nickname}" onblur="nicknameCheck()">
                                    <span class="nicknameCK">중복된 닉네임 입니다.</span>
                                    <span class="empty emptynickname">필수 정보입니다.</span>
                                </div>
                                <div class="form-group">
                                    <label for="pw">비밀번호</label>
                                    <input type="password" class="form-control" id="pw" name="pw"
                                           th:value="${#authentication.principal.member.pw}" onblur="regexPW()">
                                </div>
                                <div class="form-group">
                                    <label for="name">이름</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                           th:value="${#authentication.principal.member.name}" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="birth">생년월일</label>
                                    <input type="text" class="form-control" id="birth" name="birth"
                                           th:value="${#authentication.principal.member.birth}" readonly="readonly"
                                           onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                                </div>
                                <div class="form-group">
                                    <label for="sample4_postcode">주소</label>
                                    <span class="half">
                            <input type="text" id="sample4_postcode" class="form-control address_40%" placeholder="우편번호" readonly>
                            <input type="button" onclick="sample4_execDaumPostcode()" class="form-control address_40%" value="우편번호 찾기">
                            </span>
                                    <input type="text" id="sample4_roadAddress" class="form-control address_40%" placeholder="도로명주소" name="roadAddress" th:value="${#authentication.principal.member.roadAddress}" readonly>
                                    <span id="guide" style="color:#999;display:none"></span>
                                    <input type="text" id="sample4_detailAddress" placeholder="상세주소" class="form-control address_40%" name="detailAddress" th:value="${#authentication.principal.member.detailAddress}">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNum">전화번호</label>
                                    <input type="text" class="form-control" id="phoneNum" name="phoneNum"
                                           th:value="${#authentication.principal.member.phoneNum}"
                                           onkeydown="this.value=this.value.replace(/[^0-9]/g,'');"
                                           onblur="regexPhone()" maxlength="11"/>
                                    <span class="regPhone">형식에 맞지 않는 번호입니다</span>
                                    <span class="empty emptyPhone">필수 정보입니다.</span>
                                </div>
                                <div class="form-group">
                                    <label for="email">이메일</label>
                                    <input type="text" class="form-control" id="email" name="email"
                                           th:value="${#authentication.principal.member.email}" readonly>
                                </div>
                                <div class="form-group file-form">
                                    <label for="profileimg">프로필 사진</label>
                                    <div id="profileimg" class="filebox bs3-primary preview-image">
                                        <div class="upload-display">
                                            <div class="upload-thumb-wrap">
                                                <button type="button" data-file="" id="x-mark">❌</button>
                                                <img src="" class="upload-thumb">
                                            </div>
                                        </div>
                                        <div class="divide">
                                            <input class="upload-name" value="파일명" readonly>
                                            <label for="input_file">업로드</label>
                                            <input type="file" id="input_file" class="upload-hidden" accept="image/*">
                                            <input type="hidden" name="fileName" id="fileName" value="">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="text-center">
                                <button type="button" class="btn btn-warning btn-save" style="float: left;">저장</button>
                                <button type="button" class="btn btn-danger btn-cancle" style="float: right;">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" th:src="@{/js/member.js}"></script>
        <script type="text/javascript" th:src="@{/js/address.js}"></script>
        <script type="text/javascript" th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
        <script type="text/javascript" th:src="@{/js/fileupload.js}"></script>
        <script type="text/javascript" th:src="@{/js/memberUpload.js}"></script>
        <script th:inline="javascript">
            let fileName = [[${#authentication.principal.member.fileName}]];
            let decodeName = decodeURI(fileName);
            $(".upload-thumb").attr("src", "/displayImg?fileName=" + decodeName);
            $("#fileName").attr("value", decodeName);
            $("#x-mark").attr("data-file", decodeName);

        </script>


    </th:block>
</th:block>