<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/assets/css/infoBoard.css}">
<link rel="stylesheet" th:href="@{/assets/css/FAQ.css}">
<link rel="stylesheet" th:href="@{/assets/css/QNAForm.css}">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

  <th:block th:fragment="content">

    <div class="page-head">
      <div class="container">
        <div class="row">
          <div class="page-head-content">
            <h1 class="page-title">공지사항</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- End page header -->

    <section>
      <div class="container">
        <div class="qnaform">
          <form th:action="@{/service-center/notice/modify}" th:method="post">
            <div class="qnaform__title outside form-group">
              <span class="left">제목</span>
              <span class="right"><input type="text" class="form-control" name="title" th:value="${dto.title}"></span>
            </div>
            <div class="qnaform__content outside form-group">
              <span class="left">내용</span>
              <span class="right"><textarea class="form-control" rows="10" name="content" th:text="${dto.content}"></textarea></span>
            </div>
            <div class="qnaform__submit">
              <button class="navbar-btn nav-button wow fadeInRight modifyBtn" data-wow-delay="0.48s" type="submit">등록</button>
            </div>

            <input type="hidden" name="noticeNo" th:value="${dto.noticeNo}">
            <input type="hidden" name="page" th:value="${requestDTO.page}">

          </form>
        </div>
      </div>
    </section>

    <script th:inline="javascript">

      var actionForm = $("form");

      $(".modifyBtn").click(function () {

        if (!confirm("수정하시겠습니까?")) {
          return;
        }

        actionForm
                .attr("action", "/service-center/notice/modify")
                .attr("method", "post")
                .submit();

      });

    </script>

  </th:block>

</th:block>
</html>