<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/assets/css/infoBoard.css}">
<link rel="stylesheet" th:href="@{/assets/css/FAQ.css}">
<link rel="stylesheet" th:href="@{/assets/css/QNAForm.css}">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">


        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">공지사항</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <div class="ArticleContentBox" style="margin-bottom: 25px;">
            <div class="container read__container">
                <div class="header">
                    <span class="header__title">
                        <span>
                            <h2>[[${dto.title}]]</h2>
                        </span>
                    </span>
                    <span class="header__date">
                        <span>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}]]</span>
                    </span>
                </div>
                <div class="content">
                    [[${dto.content}]]
                </div>
            </div>

            <div class="text-center">
                <a th:href="@{/service-center/notice/modify(noticeNo=${dto.noticeNo}, page=${requestDTO.page})}">
                    <button type="button" class="btn btn-primary">수정</button></a>

                <a>
                    <button type="button" class="btn btn-primary">삭제</button></a>

                <a th:href="@{/service-center/notice/list(page=${requestDTO.page})}">
                    <button type="button" class="btn btn-primary">목록</button></a>
            </div>

        </div>


    </th:block>

</th:block>
</html>