<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">


        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">인테리어 견적</h1>
                    </div>
                </div>
            </div>
        </div>


        <div class="content-area single-property" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">
                <div class="clearfix padding-top-40">

                    <div class="col-md-8 single-property-content prp-style-1 ">


                        <div class="single-property-wrapper">
                            <div class="single-property-header">
                                <h1 class="property-title pull-left">[[${dto.title}]]</h1>

                            </div>

                            <!-- End description area  -->

                            <div class="section additional-details">

                                <h4 class="s-property-title">견적 상세정보 </h4>

                                <ul class="additional-details-list clearfix">
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">게시글 번호</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">[[${dto.boardNo}]] 번</span>
                                    </li>
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">주거 유형</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">[[${dto.category}]]</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">시공 분야</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">[[${dto.part}]]</span>
                                    </li>
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">주소</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">[[${dto.address}]] </span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">면적</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">[[${dto.area}]] 평</span>
                                    </li>
                                    <li>
                                        <div th:if="${dto.startDate == '0001-01-01'}">
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">시공 시작일</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">시작일 협의</span>
                                        </div>

                                        <div th:unless="${dto.startDate == '0001-01-01'}">
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">시공 시작일</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">[[${dto.startDate}]]</span>

                                        </div>
                                    </li>

                                    <li>
                                        <div th:if="${dto.endDate == '0001-01-01'}">
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">시공 마감일</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">마감일 협의</span>
                                        </div>

                                        <div th:unless="${dto.endDate == '0001-01-01'}">
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">시공 마감일</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">[[${dto.endDate}]]</span>

                                        </div>
                                    </li>
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">조회수</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">[[${dto.view_count}]]</span>
                                    </li>
                                </ul>
                            </div>

                            <!-- End additional-details area  -->
                            <div class="section">
                                <h4 class="s-property-title">상세 요청사항</h4>
                                <div class="s-property-content">
                                    <p>[[${dto.required}]]</p>
                                </div>
                            </div>

                            <div class="section property-video">
                                <h4 class="s-property-title">참고 자료</h4>
                                <div class="video-thumb">

                                    <span name="asd"
                                          th:data-file="${applicationBoardImage.getThumbnailURL()}" th:each="applicationBoardImage: ${dto.imageDTOList}">
                                         <img style="width : 960px; " th:if="${applicationBoardImage.path != null}"
                                              th:src="|/display?fileName=${applicationBoardImage.getImageURL()}|">
                                          <a download
                                             th:href="|/display?fileName=${applicationBoardImage.getImageURL()}|">
                                    [[${applicationBoardImage.imgName}]]
                                    </a>
                                    </span>
                                </div>
                            </div>
                            <!-- End video area  -->

                            <section class="add-comments" id="comment-form"
                                     style="padding-left: 0px; list-style: none; ">
                                <h4 class="s-property-title">댓글 </h4>
                                <h4 class="text-uppercase wow fadeInLeft animated">Leave comment</h4>
                                <form>
                                    <div class="row wow fadeInLeft animated">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="replyText">Comment <span class="required">*</span>
                                                </label>
                                                <textarea class="form-control" th:name="replyText" id="replyText" rows="4"></textarea>

                                                <input class="form-control" id="newReplyWriter" placeholder="USER ID"
                                                       style="display: none;" type="hidden"
                                                       value="${login.nickName}">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row wow fadeInLeft animated">
                                        <div class="col-sm-12 text-right">
                                            <button class="btn replySave" id="replyAddBtn" style=" color: #FFF; background-color: #FDC600; border-color: #FDC600;
                                             border-radius: 1px; padding: 10px 20px; font-weight: 600;"
                                                    type="button">
                                                <i class="fa fa-comment-o"></i> Post comment
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </section>
                            <!--
                       <section id="comment-form" class="add-comments" style="padding-left: 0px; list-style: none; ">
                           <h4 class="s-property-title">댓글 </h4>
                           <h4 class="text-uppercase wow fadeInLeft animated" style="padding-bottom: 50px;">로그인 후 댓글을 작성하실
                               수 있습니다.</h4>
                               -->

                            <ul style="padding-left: 0px; list-style: none;">
                                <li class="time-label" id="repliesDiv">
                                    <h4 class="text-uppercase wow fadeInLeft animated">Comments</h4>
                                </li>
                            </ul>

                            <div>
                                <div class="list-group replyList">

                                </div>
                            </div>


                            <div class="section property-share">
                                <h4 class="s-property-title">공유 </h4>
                                <div class="roperty-social">
                                    <ul>
                                        <li>
                                            <a class="facebook" onclick="fn_sendFB('facebook');return false;" href="#n" target="_self" title="Share this on facebook ">
                                                <img th:src="@{/assets/img/social_big/facebook_grey.png}">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="twitter" onclick="fn_sendFB('twitter');return false;" href="#n" target="_self" title="Share this on twitter ">
                                                <img th:src="@{/assets/img/social_big/twitter_grey.png}">
                                            </a>
                                        </li>
                                        <li>
                                            <a id="kakaoBtn" class="kakaotalk" onclick="fn_sendFB('kakaotalk');return false;" href="#n" target="_self" title="Share this on kakaotalk ">
                                                <img th:src="@{/assets/img/social_big/kakaotalk_grey.png}">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <form action="/applicationboard/remove" method="post">
                                <input name="boardNo" th:value="${dto.boardNo}" type="hidden">
                            </form>

                            <div class="box-footer">

                                <a th:href="@{/applicationboard/modify(boardNo = ${dto.boardNo})}"
                                   th:onclick="return confirm('수정 하시겠습니까?')">
                                    <button class="btn btn-warning modifyBtn" type="button">Modify</button>
                                </a>

                                <button class="btn btn-primary removeBtn" type="button">REMOVE</button>


                                <a th:href="@{/applicationboard/list}">
                                    <button class="btn btn-primary listBtn" type="submit">LIST ALL</button>

                                </a>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-4 p0">
                        <aside class="sidebar sidebar-property blog-asside-right">
                            <div class="dealer-widget">
                                <div class="dealer-content">
                                    <div class="inner-wrapper">

                                        <div class="clear">
                                            <div class="col-xs-4 col-sm-4 dealer-face">
                                                <a href="">
                                                    <img class="img-circle"
                                                         th:src="@{/assets/img/client-face1.png}">
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 ">
                                                <h3 class="dealer-name">
                                                    <span>[[${dto.nickname}]]</span>
                                                </h3>
                                                <div class="dealer-social-media">
                                                    <a class="twitter" href="" target="_blank">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a class="facebook" href="" target="_blank">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                    <a class="gplus" href="" target="_blank">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                    <a class="linkedin" href="" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                    <a class="instagram" href="" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="clear">
                                            <ul class="dealer-contacts">
                                                <li><i class="pe-7s-map-marker strong"> </i> 서울특별시 강남구 테헤란로14길</li>
                                                <li><i class="pe-7s-mail strong"> </i>interiorfriend@gmail.com</li>
                                                <li><i class="pe-7s-call strong"> </i> 1577 - 1010</li>
                                            </ul>
                                            <p>안녕하세요 항상 최고의 서비스를 제공하겠습니다.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </aside>
                    </div>
                </div>

            </div>
        </div>

        <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

        <script >
            function fn_sendFB(sns) {
                var thisUrl = document.URL;
                var snsTitle = "[지금 인프에서 인테리어 견적 신청 확인하기]";
                if (sns == 'facebook') {
                    var url = "http://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(thisUrl);
                    window.open(url, "", "width=486, height=286");
                } else if (sns == 'twitter') {
                    var url = "http://twitter.com/share?url=" + encodeURIComponent(thisUrl) + "&text=" + encodeURIComponent(snsTitle);
                    window.open(url, "tweetPop", "width=486, height=286,scrollbars=yes");
                } else if (sns == 'kakaotalk') {
                    // 사용할 앱의 JavaScript 키 설정
                    Kakao.init('d9c6ff29bb35b7f8e09b6ff44bbfb66e');

                    // 카카오링크 버튼 생성
                    Kakao.Link.createDefaultButton({
                        container: '#kakaoBtn', // HTML에서 작성한 ID값
                        objectType: 'feed',
                        content: {
                            title: "[지금 인프에서 인테리어 견적 신청 확인하기]", // 보여질 제목
                            description: "[지금 인프에서 인테리어 견적 신청 확인하기]", // 보여질 설명
                            imageUrl: thisUrl, // 콘텐츠 URL
                            link: {
                                mobileWebUrl: thisUrl,
                                webUrl: thisUrl
                            }
                        }
                    });
                }
            }
        </script>

        <script th:inline="javascript">

            var actionForm = $("form"); //form 태그 객체


            $(".removeBtn").click(function () {

                if (!confirm("삭제하시겠습니까?")) {
                    return;
                }

                actionForm
                    .attr("action", "/applicationboard/remove")
                    .attr("method", "post")
                    .submit();

            });

            $(".listBtn").click(function () {

                //var pageInfo = $("input[name='page']");
                var page = $("input[name='page']");
                var type = $("input[name='type']");
                var keyword = $("input[name='keyword']");

                actionForm.empty(); //form 태그의 모든 내용을 지우고

                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);

                var list = "/applicationboard/list";
                actionForm
                    .attr("action", list)
                    .attr("method", "get");

                actionForm.submit();

            })



            $(document).ready(function() {

                var boardNo = [[${dto.boardNo}]];


                //댓글이 추가될 영역
                var listGroup = $(".replyList");

//날짜 처리를 위한 함수
                function formatTime(str) {
                    var date = new Date(str);

                    return date.getFullYear() + '/' +
                        (date.getMonth() + 1) + '/' +
                        date.getDate() + ' ' +
                        date.getHours() + ':' +
                        date.getMinutes();
                }

//특정한 게시글의 댓글을 처리하는 함수
                function loadJSONData() {
                    $.getJSON('/applicationboard/replies/applicationboard/' + boardNo, function (arr) {

                        console.log(arr);
                        var str = "";

                        $('.replyCount').html(" Reply Count  " + arr.length);

                        $.each(arr, function (idx, reply) {
                            console.log(reply);
                            str += '    <div class="card-body" data-rno="' + reply.rno + '"><b>' + reply.rno + '</b>';
                            str += '    <h5 class="card-title">' + reply.replycontent + '</h5>';
                            str += '    <h6 class="card-subtitle mb-2 text-muted">' + reply.replyer + '</h6>';
                            str += '    <p class="card-text">' + formatTime(reply.regDate) + '</p>';
                            str += '    </div>';
                        })

                        listGroup.html(str);

                    });
                }

                $(".replyCount").ready(function () {

                    loadJSONData();
                })//end click

                //모달 창
                $(".replySave").click(function () {
                    var reply = {
                        boardNo: boardNo,
                        replycontent: $("textarea#replyText").val(),
                        replyer: $('input[name="replyer"]').val()
                    }

                    $.ajax({
                        url: '/applicationboard/replies/',
                        method: 'post',
                        data: JSON.stringify(reply),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);

                            var newRno = parseInt(data);

                            alert("댓글이 등록되었습니다.")
                            loadJSONData();

                        }
                    })
                });


            })

        </script>
    </th:block>

</th:block>

</html>